
body {
background: url("images/theater3.jpg") no-repeat center;
background-size: cover;
font-family: Righteous;
margin: 0 auto;

}
 h1{
text-align: center  ;
font-size: 65px;
color: whitesmoke;
}
 
#movie-img {
position: sticky;
left: 15%;
top: 15%;
width: 19%;
}

h2{
position: fixed;
left: 39%;
bottom: 82%;
}

#description-display {
position: fixed;
left: 39%;
bottom: 50%;
max-width: 15%;
}

#show-times{
position: fixed;
left: 39%;
bottom: 42%;
}
#reviews-title {
position: fixed;
left: 70%;
bottom: 82%;
}

#reviews {
position: fixed;
left: 65%;
top: 20%;
width: 15%;
}

#reviews-form {
position: fixed;
left: 65%;
bottom:45%;
}

#movies-list-left img { 
    max-width: 120px;

}

#movies-list-left{
    list-style: none;
    position: fixed;
    left: 87%;
    bottom: 36%;
}

#movies-list-right img {
    max-width: 120px;
}

#movies-list-right {
    list-style: none;
    position: fixed;
    bottom: 36%;
    left: 3%;
}

#review-form-text {
    line-height: 25px;
    height: 30px;
    text-align: center;
    max-width: 250px;
}

#submit-button {
 line-height: 25px;
  height: 25px;
  max-width: 250px;
  cursor: pointer;
  position: fixed;
  bottom: 42%;
  left: 67%;
  border: 2px solid #ba2930;
  border-radius: 5px;
  font-size: 15px;
}  