/* body {
    background: url("images/theater3.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: Righteous;
    overflow: hidden;
}
h1{
position: relative;
left: 850px; 
font-size: 65px;
color: whitesmoke;
bottom: 20px;
}
 
#movie-img {
position: relative;
left: 290px;
bottom: 45px;
width: 350px;
}

h2{
position: relative;
left: 750px;
bottom: 520px;
}

#description-display {
position: relative;
left: 750px;
bottom: 520px;
width: 15%;
}

#show-times{
position: relative;
left: 750px;
bottom: 500px;
}
#reviews-title {
position: relative;
left: 1300px;
bottom: 820px;
}

#reviews {
position: relative;
left: 1200px;
bottom: 820px;
width: 15%;
}

#reviews-form {
position: relative;
left: 1250px;
bottom: 520px;
}

#movies-list-left {
list-style-type: none;
position: relative;
bottom: 1050px;
width: 15%;
}

#movies-list-right {
list-style-type: none;
position: relative;
bottom: 1681px;
left: 1650px;
width: 15%;
}
#review-form-text {
    line-height: 25px;
    height: 30px;
    text-align: center;
    width: 250px;
}
#submit-button {
 line-height: 25px;
  height: 25px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  position: relative;
  top: 10px;

} */