h1 {
    text-align: center;
    font-size: 65px;
    color: whitesmoke;
}

#movie-times {
    border: 2px solid #ba2930;
    border-radius: 5px;
    background-color: #ba2930;
    color: white;

}

#movie-img {
    position: relative;
    top: 50px;
    max-height: 400px;
    border: 2px solid black;
    min-width: 300px;
    min-height: 300px;
}

#reviews {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

#reviews-form {
    position: relative;
    top: 55px;
    margin: 0px;
}

.movies-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.movies-list img {
    position: relative;
    max-width: 118px;
    margin: 2px;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
}



#review-form-text {
    line-height: 25px;
    height: 30px;
    text-align: center;
    max-width: 250px;
    margin-bottom: 10px;
}

#submit-button {

    line-height: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    max-width: 100px;
    padding: 1px;
    border: 1px solid #ba2930;
    background-color: #ba2930;
    color: white;
    border-radius: 5px;
}